body{
    font-family: 'Times New Roman', Times, serif;
    background: black;
    color: rgb(253, 192, 253);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: purple;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav li{
    margin: 10px;
    padding: 15;
}

nav a{
    text-decoration: underline;
    color: white;
    font-size: 20px;
    padding: 15px;
}
nav a:hover{
    background-color: violet;
    color: black;
    border-radius: 5px;
}
nav img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
