div#Div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 25px;
}

div#Div2{
position:relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 25px;
    top: 100px;
    left: 555px;
}

div#Div3{
    position: fixed;
     border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    top: 100px;
    right: 100px;
}

#dropdown{
    overflow: hidden;
    background-color: hotpink;
    font-family: cursive;
}

#dropdown a{
    float: left;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

#nav-dropdown{
    float: left;
    overflow: hidden;
}

#dropbtn{
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: inherit;
    font: inherit;
}

#dropdown a:hover, #nav-dropdown:hover{
    background-color:pink
}

#dropdown-content{
    display: none;
    position: absolute;
    background-color:gray;
    width: 100%;
    box-shadow: 10px black;
}

#column{
    float: left;
    width: 50%;
    padding: 10px;
    background-color: chartreuse;
    height: 250px;
}

#column a{
    float: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left
}

#nav-dropdown:hover #dropdown-content{
    display: block;
}

#row::after{
    display:table;
}
