div#Div1{
    position: static;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 25px;
}

div#Div2{
position:relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    padding: 25px;
    top: 100px;
    left: 555px;
}

div#Div3{
    position: fixed;
     border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    top: 100px;
    right: 100px;
}