article p{
background-color: pink;
    color: black;
    padding: 20px;
}



div p {
    background-color: aqua;
    color: black;
}

article > p {
    
}

article ~ p{
    background-color: blueviolet;
    color: beige;
    padding: 20px;
}

article + p{
    background-color: forestgreen;
}

input:in-range {
    border: 2px solid rgb(2, 0, 128);
}
input:out-of-range{
    border:2px solid red ;
}
 main p:first-child{
    background-color: rgb(250, 186, 241);
 }



 nav a{
   padding: 20px;
   margin: 20px;
 }

 nav{
    background-color:rgb(127, 184, 181);
    padding: 10px;
 }

 #link:hover{
    background-color: blue;
 }

 nav a:hover{
    background-color: rgb(73, 73, 129);
 }

 nav a:active{
    background-color: azure;
 }

 nav a:visited{
    color: gold;
 }