/* reset spacing*/
body {
    margin: 15px;
    font-family: arial,sans-serif;
    background-color:pink;
}

/* NAVBAR*/
.navbar{
    position: fixed;  /* stays on top*/
    top: 0;
    width: 100%;
    padding: 20px 40px;
}

.links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 15px;
    padding: 25px;
    font-family:Arial , sans-serif ;
    overflow: hidden;
}

.links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:cursive;
    background-color:hotpink;
    padding: 15px;
    margin: 55px;
}

.links a:hover{
    background-color: rgba(212, 41, 98, 0.846);
}
/* COVER */
.cover{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover h1 {
    font-size: 6rem;
    margin: 0;
}

body {
    background-color: pink;
    color: white;
    font-family: arial, sans-serif;
}

.cover{
    font-size: large;
    font-family: cursive;
    color:white
}

.cover h1:hover{
    background-color: hotpink;
    padding: 25px;
    margin: 25px;
}


